body {
    background-color: rgba(24, 24, 24, 120);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}